{% extends "blog/base.html" %} {% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'specific-user-blogs' post.author %}">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
    {% if user.is_authenticated %} 
      {% if post.author == user %}
      <a class="btn btn-outline-danger" href="{% url 'blog-delete' post.id %}">Delete</a>
      <a class="btn btn-outline-info" href="{% url 'blog-update' post.id %}">Update</a>
      {% endif %} 
    {% endif %}
  </div>
</article>
{% endblock content %}
